<div class="row">
	<div class="col-sm">
		<h2>Faktura verwalten</h2>
	</div>
</div>
<form name="invoiceForm" data-ng-submit="invoiceForm.$valid">
<div class="row">
	<div class="col-sm">
		<div class="row">
			<div class="col-sm-12">
				<label for="number">Nummer: {{invoice.number}}</label>
				<input id="number" class="form-control form-control-sm" type="text" data-ng-model="invoice.number" placeholder="Nummer" />
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm">
		<button class="btn btn-primary" type="submit" data-ng-click="ctrl.insert()" data-ng-show="mode === 'insert'" data-ng-disabled="invoiceForm.$invalid">Einfügen</button>
		<button class="btn btn-primary" type="submit" data-ng-click="ctrl.update()" data-ng-show="mode === 'update'" data-ng-disabled="invoiceForm.$invalid">Speichern</button>
	</div>
</div>

</form>
