<div class="row">
	<div class="col-sm">
		KD-Nummer: <input id="customerId" class="form-control" type="text" data-ng-model="customer.customerId" placeholder="Kundennummer">
		Vorname: <input id="firstName" class="form-control" type="text"	data-ng-model="customer.firstName" placeholder="Vorname">
		Nachname: <input id="lastName" class="form-control" type="text"	data-ng-model="customer.lastName" placeholder="Nachname">
		Firma: * <input id="company" class="form-control" type="text" data-ng-model="customer.company" placeholder="Firma"	data-ng-required="true"> 
		Firmenzusatz: <input id="companyExtension" class="form-control" type="text"	data-ng-model="customer.companyExtension" placeholder="Firmenzusatz">
		Adresse: * <input id="address" class="form-control" type="text"	data-ng-model="customer.address" placeholder="Adresse" data-ng-required="true"> 
		Postleitzahl: * <input id="zipCode"	class="form-control" type="text" data-ng-model="customer.zipCode" placeholder="PLZ" data-ng-required="true">
		<input list="allzipcodes">
		<datalist id="allzipcodes" >
			<option data-ng-repeat="zip in zipCodes">{{zip.code}}, {{zip.city}}</option>
		</datalist> 
		Ort: * <input id="city" class="form-control" type="text" data-ng-model="customer.city" placeholder="Ort" data-ng-required="true"> 
		Land/Region: <input id="region"	class="form-control" type="text" data-ng-model="customer.region" placeholder="Land/Region"> 
		Anrede: <input id="salutation" class="form-control" type="text" data-ng-model="customer.salutation"	placeholder="Anrede"> 
		Titel: <input id="title" class="form-control" type="text" data-ng-model="customer.title" placeholder="Titel">
	</div>
	<div class="col-sm">
		Telefon: <input id="phone" class="form-control" type="text"	data-ng-model="customer.phone" placeholder="Tel"> 
		Mobilnummer	1: <input id="mobile" class="form-control" type="text" data-ng-model="customer.mobile" placeholder="Mobil1">
		Mobilnummer 2: <input id="mobileAlternative" class="form-control" type="text" data-ng-model="customer.mobileAlternative" placeholder="Mobil2"> 
		Email-Adresse 1: <input id="email" class="form-control" type="text" data-ng-model="customer.email" placeholder="Email1"> 
		Email-Adresse 2: <input id="emailAlternative" class="form-control" type="text" data-ng-model="customer.emailAlternative" placeholder="Email2">
		Homepage: <input id="website" class="form-control" type="text" data-ng-model="customer.website" placeholder="Homepage">
		Versicherung: <input id="insurance" class="form-control" type="text" data-ng-model="customer.insurace" placeholder="Versicherung">
		UID-Nummer: <input id="vatNumber" class="form-control" type="text" data-ng-model="customer.vatNumber" placeholder="UID-Nummer">
		Zahlungsziel: <input id="paymentDate" class="form-control" type="text" data-ng-model="customer.paymentDate" placeholder="Zahlungsziel">
		Mahnsperre: 
		<select id="reminderLock" class="form-control">
			<option selected>Kunde wird gemahnt</option>
			<option>Kunde wird nicht gemahnt</option>
		</select> 
		<div class="form-check">
			<input class="form-check-input" type="checkbox" data-ng-model="customer.checkboxModel" id="archived">
   			<label class="form-check-label" for="archived">Archiviert</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm">
		<div class="form-group">
			<label for="exampleFormControlTextarea1">Bemerkungen:</label>
			<textarea class="form-control" id="remark" rows="4"	data-ng-model="customer.remark" placeholder="Bemerkung"></textarea>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm">
		<button class="btn btn-primary" type="submit" data-ng-click="ctrl.insert()">Einfügen</button>
		<button class="btn btn-primary" type="submit" data-ng-click="ctrl.update()">Speichern</button>
	</div>
</div>
